*{	margin:0px;
	padding:0px;
}
body{
	margin-right:auto;
	margin-left:auto;
	background:#000;
}
h1{
	padding-top:10px;
	padding-left:85px;
	letter-spacing:1em;
	color:white;
	font-family:arial;
}
img{
	border:grey solid 10px;
}
