.bgimage {
	background-image: url(../images/reptiles.jpg);
	background-position:center center;
	background-size:cover;
	height:200px;

}
@media (max-width: 767px) {
	.img responsive {
		max-width:50%
		min-wdth:300px;
	}
}